@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: #343d4b;
  font-family: "Nunito", sans-serif;
}

.main-container {
  min-height: 100vh;
}
.card-container {
  margin: 0 auto;
  transform: translateY(30%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: absolute;
  top: 20px;
  left: 25px;
  border-radius: 20px;
}

input {
  width: 290px;
  height: 70px;
  top: 22px;
  border-radius: 15px;
  padding-inline-start: 20px;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  box-shadow: 0px 8px 10px 0px;
}
.right-side-info {
  height: 350px;
  width: 350px;
  padding: 30px;
  margin-block: 55px;
  background-color: #222831;
  border-radius: 25px 0 0 25px;
  color: #8ca6cd;
  box-sizing: border-box;
}

.right-side {
  width: 350px;
  height: 450px;
  border-radius: 25px;
  padding: 40px;
  box-sizing: border-box;
  /* //background-image: linear-gradient(152.19deg, rgba(136, 235, 239, 0.9) -0.04%, rgba(83, 91, 230, 0.9) 100%); */
  background-image: url("https://thumbs.gfycat.com/ApprehensiveBlackandwhiteEarwig-size_restricted.gif");
  background-size: cover;
  position: relative;
  overflow: auto;
  box-shadow: -6px 10px 20px -10px;
}

.overlay {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  opacity: 80%;
}

.table-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-start: 40px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}

.table-bottom {
  color: #97c0ff;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  color: white;
}

.top-content {
  line-height: 35px;
}

.day {
  font-size: 2em;
  font-weight: 800;
}

.date,
.location {
  font-size: 1em;
  margin-inline-start: 2px;
}

.location {
  line-height: 15px;
  color: white;
}

.temperature {
  font-size: 2em;
  font-weight: 800;
}
.status {
  font-size: 1.2em;
  font-weight: 800;
  text-transform: capitalize;
}

.weather-info {
  display: flex;
  position: relative;
}

.values {
  text-align: right;
  font-weight: 200;
}
